@using TechSodeECommerceApp.Repositories.Repo;

@model TechSodeECommerceApp.ViewModels.RegisterViewModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- section -->

<section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                <!-- img -->
                <img src="~/assets/images/svg-graphics/signup-g.svg" alt="" class="img-fluid" />
            </div>
            <!-- col -->
            <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                <div class="mb-lg-9 mb-5">
                    <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
                    <p>Welcome to TechSode! Enter your email to get started.</p>
                </div>
                <!-- form -->
                <form asp-action="Register" method="post">
                    <div class="row g-3">
                        <!-- col -->
                        <div class="col-12 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12 form-group">
                            <label asp-for="Password"></label>
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control" />
                                <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <div class="input-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <!-- text -->
                        <p>
                            <small>
                                By continuing, you agree to our
                                <a href="#!">Terms of Service</a>
                                &
                                <a href="#!">Privacy Policy</a>
                            </small>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@* Include modals in your main view *@
@await Html.PartialAsync("ConfirmEmailSent")
@await Html.PartialAsync("ConfirmEmailSuccess")

